@import url("./colors.css");

#waybar {
    background: @base;
    border-color: @surface2;
    color: @text;
}

tooltip {
    background: @base;
    border-color: @surface2;
    color: @text;
}

#workspaces button {
    color: @overlay0;
}
#workspaces button.active {
    color: @text;
}
#workspaces button.urgent {
    color: @red;
}

#submap {
    color: @yellow;
}
