@import url("./colors.css");

* {
    box-shadow: none;
    text-shadow: none;
    font-family: JetBrainsMonoNerdFont;
}

#waybar {
    background: @base;
    border: 3px solid @surface2;
    border-radius: 10px;
    font-size: 20px;
    color: @text;
}

tooltip {
    background: @base;
    border: 2px solid @surface2;
}

#workspaces {
    margin-left: 5px;
}

#window {
    margin: 5px;
}
#workspaces button {
    color: @overlay0;
    font-size: 35px;
    margin: -1000px -5px;
}
#workspaces button.active {
    color: @text;
}
#workspaces button.urgent {
    color: @red;
}

#submap {
    color: @yellow;
}

#custom-spacer {
    color: @surface2;
}

#tray,
#pulseaudio,
#network {
    margin: 0px 5px;
}

#clock {
    margin: 0px 15px 0px 5px;
}

