@import url("./themes/catppuccin-mocha/style.css");

* {
    font-family: JetBrainsMonoNerdFont;
    min-width: 0px;
    min-height: 0px;
}

#waybar {
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    font-size: 20px;
}

tooltip {
    border-width: 2px;
    border-style: solid;
}

#pulseaudio {
    margin-right: 15px;
}

#workspaces {
    margin-left: 5px;
}
#workspaces button {
    font-size: 35px;
    margin: -10px -5px;
}
