@import url("./colors.css");

* {
    box-shadow: none;
    text-shadow: none;
    font-family: JetBrainsMonoNerdFont;
}

#waybar {
    background: @base;
    border: 3px solid @surface2;
    border-radius: 10px;
    font-size: 20px;
    color: @text;
}

tooltip {
    background: @base;
    border: 2px solid @surface2;
}

#window {
    margin: 5px;
}

#workspaces button {
    color: @overlay0;
    font-size: 35px;
    margin: -1000px -5px;
}
#workspaces button.active {
    color: @text;
}
#workspaces button.urgent {
    color: @red;
}

#submap {
    color: @yellow;
}

#custom-spacer {
    color: @surface2;
}

#tray,
#pulseaudio,
#network,
#clock {
    padding: 0 5px;
    margin: 5px 1px;
}

#pulseaudio {
    color: @red;
}
#pulseaudio.high {
    color: @peach;
}
#pulseaudio.medium {
    color: @green
}
#pulseaudio.low {
    color: @teal;
}
#pulseaudio.muted {
    color: @surface2;
}

#battery {
    color: @teal;
}
#battery.high {
    color: @green;
}
#battery.medium {
    color: @yellow;
}
#battery.low {
    color: @red;
}

#network.disconnected {
    color: @surface2;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 5px;
}

.modules-right > widget:last-child > #clock {
    margin-right: 10px;
}
